.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.doomsday {
    width: 150px;
    height: 150px;
    border: 5px solid black;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
    animation: warn 2s ease-in-out infinite;
    position: relative;
}

.instructions {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    color: rgb(242, 255, 0);
    font-size: 15px;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s;
}

@keyframes warn {
    0%, 100% {
        background-color: rgb(179, 0, 255);
    }
    50% {
        background-color: rgb(198, 4, 4);
    }
}

@keyframes activateResult {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
